.home-container h1{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 50px;
}
.home-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 500;
}

.login-button, .register-button{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    color: white;
    margin-right: 20px;
    border-radius: 5%;
}

.home-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

